<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <% if @current_user != nil %>
        <th>
          Follow to be edited
        </th>
        <% else %>
        <th>
        </th>
        <% end %>

        <th>
          
        </th>

      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>

        <td>
          <%= a_user.username %>
        </td>

        <td>
          <% if a_user.private == true  %>
          Yes
          <% else %>
          No
          <% end %>
        </td>

        <% if @current_user != nil %>
        <td>
          <% if @current_user.following.include?(a_user.id) %>
            Unfollow
          <% else %>
            Follow
          <% end %>
        </td>
        <% else %>
        <td>
        </td>
        <% end %>

        <td>
          <a href="/users/<%= a_user.username %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
